@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
    transition: 300ms ease-in-out;
}

header{
    background: #00558B;
    display: flex;
}

header img{
    filter: drop-shadow(0 0 1px #fff);
    width: 30vw;
}

header nav{
    margin: auto;
    width: 65vw;
}

nav ul{
    display: flex;
}

ul li{
    margin: 0 3em;
    list-style-type: none;
    width: max-content;
    position: relative;
}

nav a{
    text-decoration: none;
    color: #f5f5f5;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
    padding: 0.8em 0.2em;
}

.actual{
    color: #FBBA00;
}

nav a:before{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 300ms ease-in-out;
    background: #f5f5f5;
}

nav .actual:before{
    background: #FBBA00;
}

nav a:hover:before{
    width: 100%;
}

main h1{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1em 0;
}

main{
    padding-bottom: 2em;
}

/* .imgFond{
    width: 90vw;
} */

.header_main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2em 0;
    margin: 0;
}

.header_main div{
    width: 40vw;
}

.annonces{
    display: flex;
    flex-direction: column;
}

.header_main h2{
    letter-spacing: 1px;
    border-bottom: 1px #313131 solid;
    padding-bottom: 0.5em;
}

.header_main div div{
    width: 40vw;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: 0 0 4px #EEE0C7;
    padding: 1em;
}

.annonces svg{
    margin-right: 0.8em;
    height: 1em;
}

.annonces p{
    margin-top: 1em;
    text-align: justify;
}

.annonces .annonce_date{
    color: #888;
    text-align: right;
}

.header_main iframe{
    width: 100%;
    height: 25em;
    margin-top: 1em; 
}

footer{
    display: flex;
    height: 10vw;
    justify-content: space-around;
    align-items: center;
    background-color: #00558B;
}

.TitreFooter{
    color: #f5f5f5;
    list-style-type: none;
    width: max-content;
    position: relative;
}

.TitreFooterA{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
    padding: 0.8em 0.2em;
}

.TextFooter{
    text-decoration: none;
    color: #f5f5f5;
}

.TextFooterA{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
}

.SocialsFooter{
    justify-content: right;
    text-align: center;
    color: #f5f5f5;
}

.DivSocials{
    justify-content: center;
    flex-direction: column;
}

.DivDivSocials{
    flex-direction: row
}

.logofacebook{
    height: 3vw;
    margin-top: 2vw;
}
.logoIut{
    margin-left: 2vw;
    height: 3vw;
    margin-top: 2vw;
}
.logoDiscord{
    margin-left: 2vw;
    height: 3vw;
    margin-top: 2vw;
}

.carte_bde img{
    margin: 2vw;
    height: 40vw;
    text-align: center;
    margin-top: 2vw;
    border-radius: 20px;
}

.carte_bde{
    text-align: center;
}

.intro_bde{
    align-items: center;
    display: flex;
    background : #fff;
    box-shadow: 0 0 2px black, -5px 5px 0 #FBBA00;
    border-radius: 5px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-size: 110%;
    padding : 1.5%
}

.carte_bde p{
    align-items: center;
    display: flex;
    background : #fff;
    box-shadow: 0 0 2px black, -5px 5px 0 #FBBA00;
    border-radius: 5px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    font-size: 110%;
    padding : 1.5%
}

.discord_bde img{
    height: 5vw;
    width: 5w;
}

.insta_bde img{
    height: 5vw;
    width: 5w;
}

.discord_bde{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 20%;
}

.insta_bde{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.entete{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('img/bde.jpg'); 
    background-size: cover;
    color: #fff;
    padding: 8vw 0;
    height: 20vw;
}

.entete h1{
    font-family: 'Playfair Display', serif;
    font-size: 400%;
    width: 100%;
    height: 20vw;
    padding: 8vw 0;
    display: block;
}